@page
@model Testes.Pages.NfeStatus.IndexModel
@{
    ViewData["Title"] = "Consultar NFe";
}

<h1>Consultar NFe</h1>

<form method="post" asp-page="Result">
    <div class="form-group">
        <label asp-for="Uf"></label>
        <input asp-for="Uf" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ambiente"></label>
        <select asp-for="Ambiente" class="form-control">
            <option value="1">Produção</option>
            <option value="2">Homologação</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>
